html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

body {
  text-align: center;
  background-color: black;
  cursor: crosshair;
  font-family: 'Roboto', sans-serif;
}

canvas {
  display: block;
  width: 100vw; /* Ensure the canvas doesn't exceed the viewport width */
  height: 100vh; /* Ensure the canvas doesn't exceed the viewport height */
}

.header {
  top: 20%;
  color: #FFFFFF;
  position: absolute;
  width: 100%;
}

h1 {
  font-size: 3em;
  font-weight: 700; /* Bold weight for the main title */
  margin: 0;
}

h1 strong {
  font-weight: 700; /* Ensure the strong tag uses bold weight */
}

h1::after {
  content: ' V 1.0';
  font-size: 0.5em; /* Smaller size for the version text */
  font-weight: 400; /* Normal weight for the version text */
  margin-left: 10px;
}

.row, .col, .container-fluid {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Additional styles */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

pre {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  overflow-x: auto;
}

/* Optional: Give your table a little style */
table {
  margin-top: 1rem;
  width: 100%;
  border-collapse: collapse;
}

thead th {
  background-color: #f8f9fa;
  border-bottom: 2px solid #dee2e6;
  padding: 0.75rem;
}

tbody td {
  border-bottom: 1px solid #dee2e6;
  padding: 0.75rem;
}

/* In styles.css or a custom override file */

.container-fluid.header.disable-selection {
  background-color: transparent !important; 
  /* Or remove any background if previously set. */
}

.row, .col {
  background-color: transparent !important;
}
